body {
    background-color: #222222;
    color: #eeeeee;
}

.rond {
    border-radius: 50%;
}

a{
    text-decoration: none;
    color: #ff9100;
}

header a img{
    height: 4rem;
    margin: 5px;
}

header a{
    color: #eeeeee;
}

header {
    position: fixed;
    z-index: 1;
    background-color: #222;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    border-bottom: 0.2px solid #ff9100;
    height: 15%;
}

h1{
    font-size: 4em;
}

h2{
    font-size: 3em;
}

h3{
    font-size: 2em;
}

.link a {
    background-color: #222222;
    border: 0.2px solid #ff9100;
    border-radius: 5px;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    color: #ff9100;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
    text-align: center;
    text-decoration: none;
    cursor: default;
}

main{
    margin-top: 4rem;
}

main > ul {
    margin-top: 15px ;
    list-style-type: none;
}

li {
    margin: 5px;
}

article {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 50px;
}

.boutton {
    margin: 20px;
}

.margin {
    padding-top: 30px;
    margin-left: 50px;
}

.normal {
    text-decoration: none;
}

.bg{
    background-image: url('wp2694479.jpg');
    margin: 0;
    background-size: cover;
    background-position-x: center;
    background-repeat: no-repeat;
    height: 91vh;
    padding-left: 100px;
    width: 100%;
}

.sombre{
    background-color: #0000003f;
    color: white;
    height: 100%;
    width: 100%;
    padding-top: 80px;
}

.horizon{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.demo{
    margin: 10px;
    margin-top: 15px;
    width: 30em
}

.tete{
    margin: 10px;
}

.code{
    background-color: #444;
    color: #ff9100;
}